<h1>Sign Up</h1>
<form action="/newuser" method="post">
  Full Name:<input type="text" name="name"><br>
  Email: <input type="text" name="email"><br>
  Password: <input type="password" name="password"><br><br>
  <input type="submit"  value="login">
</form><br><br>
